<div id="about-wrapper">
    <div id="tech">
        <h2 class="about-label">Technics used</h2>
        <ul>
            <li>Axios</li>
            <li>CDN</li>
            <li>Get</li>
        </ul>
    </div>
    <div id="struggle">
        <h2 class="about-label">Struggles</h2>
        <ul>
            <li>Small coding sessions</li>
            <li>Conditionnal formatting of the layout</li>
            <li>Changing the random picture</li>
        </ul>
    </div>
</div>