<div id="carousel-wrapper">
    <div id="carousel-img">
        <button id="btn-prev" class="btn"><i class="fas fa-chevron-left"></i></button>
        <button id="btn-next" class="btn"><i class="fas fa-chevron-right"></i></button>
    </div>
    <div id="carousel-info">
        <p class="label">Label:</p> <span class="info" id="tree-label"></span>
        <p class="label">District:</p> <span class="info" id="tree-district"></span>
        <p class="label">Circumference:</p> <span class="info" id="tree-circum"></span> 
        <p class="label">Height:</p> <span class="info" id="tree-height"></span>
        <p class="label">Species:</p> <span class="info" id="tree-species"></span>
        <p class="label">Genre:</p> <span class="info" id="tree-genre"></span>
    </div>
</div>